<nav class="navbar">
  <div class="navbar-inner">
    <div class="brand">
      <!-- Logo: siempre lleva a /home -->
      <a class="logo" routerLink="/home" aria-label="Ir al inicio">Dulce</a>
    </div>

    <ul class="menu">
      <!-- Promociones -->
      <li
        class="menu-item has-dropdown menu-promociones"
        [class.is-open]="activeMenu === 'promociones'"
        (mouseenter)="openMenu('promociones')"
        (mouseleave)="closeMenu('promociones')"
        (focusin)="openMenu('promociones')"
        (focusout)="handleFocusOut($event, 'promociones')"
      >
        <a
          class="menu-link"
          [attr.href]="buildCatalogHref(catalogFilters.promotions)"
          (click)="navigateToCatalog($event, catalogFilters.promotions)"
        >
          <span class="menu-label">Promociones</span>
        </a>
        <ul class="dropdown">
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.promotions)"
              (click)="navigateToCatalog($event, catalogFilters.promotions)"
            >
              Llévame a las promociones
            </a>
          </li>
        </ul>
      </li>

      <!-- Nuevo -->
      <li
        class="menu-item has-dropdown menu-nuevo"
        [class.is-open]="activeMenu === 'nuevo'"
        (mouseenter)="openMenu('nuevo')"
        (mouseleave)="closeMenu('nuevo')"
        (focusin)="openMenu('nuevo')"
        (focusout)="handleFocusOut($event, 'nuevo')"
      >
        <a
          class="menu-link"
          [attr.href]="buildCatalogHref(catalogFilters.newest)"
          (click)="navigateToCatalog($event, catalogFilters.newest)"
        >
          <span class="menu-label">Nuevo</span>
        </a>
        <ul class="dropdown">
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.newest)"
              (click)="navigateToCatalog($event, catalogFilters.newest)"
            >
              Tendencias
            </a>
          </li>
        </ul>
      </li>

      <!-- Dama -->
      <li
        class="menu-item has-dropdown menu-dama"
        [class.is-open]="activeMenu === 'dama'"
        (mouseenter)="openMenu('dama')"
        (mouseleave)="closeMenu('dama')"
        (focusin)="openMenu('dama')"
        (focusout)="handleFocusOut($event, 'dama')"
      >
        <a
          class="menu-link"
          [attr.href]="buildCatalogHref(catalogFilters.dama)"
          (click)="navigateToCatalog($event, catalogFilters.dama)"
        >
          <span class="menu-label">Dama</span>
        </a>
        <ul class="dropdown">
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.damaPijamas)"
              (click)="navigateToCatalog($event, catalogFilters.damaPijamas)"
            >
              Pijamas
            </a>
          </li>
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.damaBlusas)"
              (click)="navigateToCatalog($event, catalogFilters.damaBlusas)"
            >
              Blusas
            </a>
          </li>
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.damaCamisetas)"
              (click)="navigateToCatalog($event, catalogFilters.damaCamisetas)"
            >
              Camisetas
            </a>
          </li>
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.damaLeggins)"
              (click)="navigateToCatalog($event, catalogFilters.damaLeggins)"
            >
              Leggins
            </a>
          </li>
        </ul>
      </li>

      <!-- Niña -->
      <li
        class="menu-item has-dropdown menu-nina"
        [class.is-open]="activeMenu === 'nina'"
        (mouseenter)="openMenu('nina')"
        (mouseleave)="closeMenu('nina')"
        (focusin)="openMenu('nina')"
        (focusout)="handleFocusOut($event, 'nina')"
      >
        <a
          class="menu-link"
          [attr.href]="buildCatalogHref(catalogFilters.nina)"
          (click)="navigateToCatalog($event, catalogFilters.nina)"
        >
          <span class="menu-label">Niña</span>
        </a>
        <ul class="dropdown">
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.ninaPijamas)"
              (click)="navigateToCatalog($event, catalogFilters.ninaPijamas)"
            >
              Pijamas
            </a>
          </li>
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.ninaBlusas)"
              (click)="navigateToCatalog($event, catalogFilters.ninaBlusas)"
            >
              Blusas
            </a>
          </li>
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.ninaCamisetas)"
              (click)="navigateToCatalog($event, catalogFilters.ninaCamisetas)"
            >
              Camisetas
            </a>
          </li>
          <li>
            <a
              [attr.href]="buildCatalogHref(catalogFilters.ninaLeggins)"
              (click)="navigateToCatalog($event, catalogFilters.ninaLeggins)"
            >
              Leggins
            </a>
          </li>
        </ul>
      </li>

      <!-- Acceso -->
      <li
        class="menu-item has-dropdown menu-acceso"
        [class.is-open]="activeMenu === 'acceso'"
        (mouseenter)="openMenu('acceso')"
        (mouseleave)="closeMenu('acceso')"
        (focusin)="openMenu('acceso')"
        (focusout)="handleFocusOut($event, 'acceso')"
      >
         <button class="menu-link" type="button" disabled aria-disabled="true"> 
          <span class="menu-label">Acceso</span>
        </button>
        <ul class="dropdown">
          <li>
             <span class="menu-info">Acceso para empleados disponible próximamente.</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
